# Standard Unreal Engine folders to ignore
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/

*.suo
*.user
*.pdb
*.obj
*.exe
*.dll

# IDE specific files (Visual Studio, Rider, etc.)
.vs/
.idea/
.vscode/
